<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.dhinakg.SKLAsKBLGraphicsInfo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Intel Skylake Graphics Driver Properties Injection for macOS 13 by Dhinak G</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Gen7</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelKBLGraphics</string>
			<key>Development</key>
			<dict>
				<key>AddressMode</key>
				<integer>64</integer>
				<key>AddressSpaceEnableMask</key>
				<integer>3</integer>
				<key>AllowIOSurfaceRenderCompression</key>
				<integer>1</integer>
				<key>AllowRenderCompression</key>
				<integer>1</integer>
				<key>CsbProcModeSelect</key>
				<integer>0</integer>
				<key>DisablePageFaultHandling</key>
				<integer>0</integer>
				<key>DisableTailCoalescing</key>
				<integer>0</integer>
				<key>DisplaySurfaceInEDRAM</key>
				<integer>2</integer>
				<key>EUThrottle</key>
				<integer>0</integer>
				<key>EnableBlitLib</key>
				<integer>1</integer>
				<key>EnableL3Atomics</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>0</integer>
				<key>EnablePreemption</key>
				<integer>1</integer>
				<key>ForceDisableEDRAM</key>
				<integer>0</integer>
				<key>GraphicsSchedulerSelect</key>
				<integer>0</integer>
				<key>HwCtxCacheUpdate</key>
				<integer>1</integer>
				<key>MetalCoalesce</key>
				<integer>1</integer>
				<key>MultiForceWakeSelect</key>
				<integer>1</integer>
				<key>NewUtilizationAlgorithmEnable</key>
				<integer>1</integer>
				<key>PPGTT</key>
				<integer>1</integer>
				<key>PageTableMode</key>
				<integer>64</integer>
				<key>PanicOnGPUHang</key>
				<integer>0</integer>
				<key>PixelBackendThrottle</key>
				<integer>0</integer>
				<key>PreemptionDelayIntervalUS</key>
				<integer>400</integer>
				<key>PreemptionTimerIntervalUS</key>
				<integer>2000</integer>
				<key>RingSizeKB</key>
				<integer>32</integer>
				<key>SamplerDataFetchThrottle</key>
				<integer>0</integer>
				<key>SamplerPipeThrottle</key>
				<integer>0</integer>
				<key>SchedPmNotifyEnable</key>
				<integer>1</integer>
				<key>SchedSecure</key>
				<integer>1</integer>
				<key>SchedThrottleCapMS</key>
				<integer>100</integer>
				<key>SchedulerFallbackOnFirmwareFail</key>
				<integer>0</integer>
				<key>SemaphoreWaitPoll</key>
				<integer>1</integer>
				<key>SeparateAddressSpace</key>
				<integer>1</integer>
				<key>SignalStampRange</key>
				<integer>1</integer>
				<key>SignalStampsPrimary</key>
				<integer>0</integer>
				<key>SingleChannelIndex</key>
				<integer>0</integer>
				<key>SurfaceSizeBasedBlitDestinationBypassLLC</key>
				<integer>2</integer>
				<key>SurfaceSizeBasedColorBufferLLCBypass</key>
				<integer>2</integer>
				<key>TelemetryDisable</key>
				<integer>0</integer>
				<key>WaitForComplete</key>
				<integer>0</integer>
			</dict>
			<key>GPURawCounterBundleName</key>
			<string>AppleIntelKBLGraphicsMTLDriver</string>
			<key>GPURawCounterPluginClassName</key>
			<string>IGGPURawCounterSourceGroup</string>
			<key>IOAccelDisplayPipeCapabilities</key>
			<dict>
				<key>DisplayPipeSupported</key>
				<true/>
				<key>TransactionsSupported</key>
				<true/>
			</dict>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>ACCF0000-0000-0000-0000-000a2789904e</key>
				<string>IOAccelerator2D.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IntelAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AppleIntelKBLGraphicsVADriver</string>
			<key>IOGLBundleName</key>
			<string>AppleIntelKBLGraphicsGLDriver</string>
			<key>IOGVABGRAEnc</key>
			<string>Gen9</string>
			<key>IOGVACodec</key>
			<string>Gen9</string>
			<key>IOGVAH264EncodeCapabilities</key>
			<dict>
				<key>VTQualityRating</key>
				<integer>50</integer>
				<key>VTRating</key>
				<integer>400</integer>
			</dict>
			<key>IOGVAHEVCDecode</key>
			<string>1</string>
			<key>IOGVAHEVCDecodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>IOGVAHEVCEncode</key>
			<string>1</string>
			<key>IOGVAHEVCEncodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxEncodeLevel</key>
						<integer>156</integer>
					</dict>
				</dict>
				<key>VTQualityRating</key>
				<integer>80</integer>
				<key>VTRating</key>
				<integer>90</integer>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<key>IOGVAScaler</key>
			<string>Gen9</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x59128086 0x59168086 0x591B8086 0x591C8086 0x591E8086 0x59268086 0x59278086 0x59238086 0x87C08086 0x3E9B8086 0x3EA58086 0x3EA68086 0x3E918086 0x3E928086 0x3E988086 0x9B418086 0x9BCA8086 0x9BCC8086 0x9BC88086 0x9BC58086 0x9BC48086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>17301536</integer>
			<key>MetalPluginName</key>
			<string>AppleIntelKBLGraphicsMTLDriver</string>
		</dict>
	</dict>
</dict>
</plist>
