<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Path</key>
			<string>/System/Library/Frameworks/VideoToolbox.framework/Versions/A/VideoToolbox</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>drmi -&gt; drmn (disable for VP3 decoders)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>v2ltcmS+LAEAAA==</data>
					<key>Replace</key>
					<data>v25tcmS+LAEAAA==</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>NDRMI</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>drmi -&gt; drmn (disable for GVA decoders)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>v2ltcmS+kAEAAA==</data>
					<key>Replace</key>
					<data>v25tcmS+kAEAAA==</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>NDRMI</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>qavc -&gt; qavn (disable for GVA decoders)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>v2N2YXG+kAEAAA==</data>
					<key>Replace</key>
					<data>v252YXG+kAEAAA==</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>NSTREAM</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>cavc -&gt; cavn (disable for GVA decoders)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>v2N2YWO+kAEAAA==</data>
					<key>Replace</key>
					<data>v252YWO+kAEAAA==</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>NSTREAM</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>eavc -&gt; eavn (disable for GVA decoders)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>v2N2YWW+kAEAAA==</data>
					<key>Replace</key>
					<data>v252YWW+kAEAAA==</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>NSTREAM</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>zavc -&gt; zavn (disable for GVA decoders)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>v2N2YXq+kAEAAA==</data>
					<key>Replace</key>
					<data>v252YXq+kAEAAA==</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>NSTREAM</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/PrivateFrameworks/CoreFP.framework/Versions/A/CoreFP</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>mov rax/eax,1 : cpuid -&gt;  mov rax/eax,206C2h : nop : nop (Xeon E5620) or 206A7 (i7 2600k)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>AQAAAA+i</data>
					<key>Replace</key>
					<data>wgYCAJCQ</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>FCPUID</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Disable</key>
			<true/>
			<key>Path</key>
			<string>/System/Library/PrivateFrameworks/CoreLSKD.framework/Versions/A/CoreLSKD</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>mov rax,1 : cpuid -&gt;  mov rax,206C2h : nop : nop (Xeon E5620) or 206A7 (i7 2600k)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>x8ABAAAAD6I=</data>
					<key>Replace</key>
					<data>x8DCBgIAkJA=</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>5</integer>
					<key>Section</key>
					<string>FCPUID</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Disable</key>
			<true/>
			<key>Path</key>
			<string>/System/Library/PrivateFrameworks/CoreLSKDMSE.framework/Versions/A/CoreLSKDMSE</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>mov rax,1 : cpuid -&gt;  mov rax,206C2h : nop : nop (Xeon E5620) or 206A7 (i7 2600k)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>x8ABAAAAD6I=</data>
					<key>Replace</key>
					<data>x8DCBgIAkJA=</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>2</integer>
					<key>Section</key>
					<string>FCPUID</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/PrivateFrameworks/AppleGVA.framework/Versions/A/AppleGVA</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>forceOfflineRenderer -&gt; avoidOfflineRenderer</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>Zm9yY2VPZmY=</data>
					<key>Replace</key>
					<data>YXZvaWRPZmY=</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>OFFLINE</string>
					<key>Segment</key>
					<string>TextCstring</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>hweBGRA -&gt; sweBGRA</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>aHdlQkdSQQ==</data>
					<key>Replace</key>
					<data>c3dlQkdSQQ==</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>BGRA</string>
					<key>Segment</key>
					<string>TextCstring</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Unlock acceleration for SNB/SKL/KBL+NVIDIA and IVY+AMD</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>AA==</data>
					<key>Replace</key>
					<data>AA==</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>COMPATRENDERER</string>
					<key>Segment</key>
					<string>TextText</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>board-id -&gt; shiki-id (normally for iMac14,2)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>Ym9hcmQtaWQA</data>
					<key>Replace</key>
					<data>c2hpa2ktaWQA</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>BOARDID</string>
					<key>Segment</key>
					<string>TextCstring</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>board-id -&gt; hwdrm-id (normally for iMacPro1,1)</string>
					<key>Flags</key>
					<string>UserPatcher::BinaryModPatchFlags::LocalOnly</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>Ym9hcmQtaWQA</data>
					<key>Replace</key>
					<data>aHdkcm0taWQA</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>HWDRMID</string>
					<key>Segment</key>
					<string>TextCstring</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/PrivateFrameworks/AppleVPA.framework/Versions/A/AppleVPA</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>board-id -&gt; shiki-id (normally for iMac14,2)</string>
					<key>CPU</key>
					<string>CPU_TYPE_X86_64</string>
					<key>Find</key>
					<data>Ym9hcmQtaWQA</data>
					<key>Replace</key>
					<data>c2hpa2ktaWQA</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>Count</key>
					<integer>1</integer>
					<key>Section</key>
					<string>BOARDID</string>
					<key>Segment</key>
					<string>TextCstring</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Processes</key>
	<array>
		<dict>
			<key>Path</key>
			<string>/Applications/iTunes.app/Contents/MacOS/iTunes</string>
			<key>Section</key>
			<string>NDRMI</string>
			<key>Type</key>
			<string>Legacy</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Applications/QuickTime Player.app/Contents/MacOS/QuickTime Player</string>
			<key>Section</key>
			<string>NDRMI</string>
			<key>ModernPrefix</key>
			<string>/System</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Applications/TV.app/Contents/MacOS/TV</string>
			<key>Section</key>
			<string>NDRMI</string>
			<key>Type</key>
			<string>Modern</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Applications/Music.app/Contents/MacOS/Music</string>
			<key>Section</key>
			<string>NDRMI</string>
			<key>Type</key>
			<string>Modern</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Applications/Safari.app/Contents/MacOS/Safari</string>
			<key>Section</key>
			<string>NSTREAM</string>
			<key>ModernPrefix</key>
			<string>/System</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/Frameworks/WebKit.framework/Versions/A/XPCServices/com.apple.WebKit.WebContent.xpc/Contents/MacOS/com.apple.WebKit.WebContent</string>
			<key>Section</key>
			<string>NSTREAM</string>
		</dict>
		<dict>
			<key>Disable</key>
			<true/>
			<key>Path</key>
			<string>/Applications/iTunes.app/Contents/MacOS/iTunes</string>
			<key>Section</key>
			<string>NSTREAM</string>
			<key>Type</key>
			<string>Legacy</string>
		</dict>
		<dict>
			<key>Disable</key>
			<true/>
			<key>Path</key>
			<string>/Applications/QuickTime Player.app/Contents/MacOS/QuickTime Player</string>
			<key>Section</key>
			<string>NSTREAM</string>
			<key>ModernPrefix</key>
			<string>/System</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/Frameworks/WebKit.framework/Versions/A/XPCServices/com.apple.WebKit.WebContent.xpc/Contents/MacOS/com.apple.WebKit.WebContent</string>
			<key>Section</key>
			<string>WHITELIST</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Applications/Safari.app/Contents/MacOS/Safari</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>ModernPrefix</key>
			<string>/System</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/Frameworks/VideoToolbox.framework/Versions/A/XPCServices/VTDecoderXPCService.xpc/Contents/MacOS/VTDecoderXPCService</string>
			<key>Section</key>
			<string>WHITELIST</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Final Cut Pro.app/Contents/MacOS/Final Cut Pro</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Motion.app/Contents/MacOS/Motion</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Compressor.app/Contents/MacOS/Compressor</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/IINA.app/Contents/MacOS/IINA</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/VLC.app/Contents/MacOS/VLC</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/MacX Video Converter Pro.app/Contents/MacOS/MacX Video Converter Pro</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/XviD4PSP.app/Contents/MacOS/XviD4PSP</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Opera.app/Contents/MacOS/Opera</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>firefox and firefox-bin</string>
			<key>Path</key>
			<string>/Firefox.app/Contents/MacOS/firefox</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchAny</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Slack.app/Contents/MacOS/Slack</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Visual Studio Code.app/Contents/MacOS/Electron</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Google Chrome.app/Contents/MacOS/Google Chrome</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/VDADecoderChecker</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/DaVinci Resolve.app/Contents/MacOS/Resolve</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/mpv</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/ffmpeg</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Applications/FaceTime.app/Contents/MacOS/FaceTime</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>ModernPrefix</key>
			<string>/System</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Applications/Photos.app/Contents/MacOS/Photos</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>ModernPrefix</key>
			<string>/System</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/CoreServices/cloudphotosd.app/Contents/MacOS/cloudphotosd</string>
			<key>Section</key>
			<string>WHITELIST</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Library/Frameworks/Quartz.framework/Versions/A/Frameworks/QuickLookUI.framework/Versions/A/XPCServices/QuickLookUIService.xpc/Contents/MacOS/QuickLookUIService</string>
			<key>Section</key>
			<string>WHITELIST</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/usr/libexec/AirPlayXPCHelper</string>
			<key>Section</key>
			<string>WHITELIST</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Live Screen Capture.app/Contents/MacOS/Live Screen Capture</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/iMovie.app/Contents/MacOS/iMovie</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Photo Booth.app/Contents/MacOS/Photo Booth</string>
			<key>Section</key>
			<string>WHITELIST</string>
			<key>Flags</key>
			<string>PF::MatchSuffix</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Applications/iTunes.app/Contents/MacOS/iTunes</string>
			<key>Section</key>
			<string>HWDRMID</string>
			<key>Type</key>
			<string>Legacy</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/Applications/QuickTime Player.app/Contents/MacOS/QuickTime Player</string>
			<key>Section</key>
			<string>HWDRMID</string>
			<key>ModernPrefix</key>
			<string>/System</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Applications/TV.app/Contents/MacOS/TV</string>
			<key>Section</key>
			<string>HWDRMID</string>
			<key>Type</key>
			<string>Modern</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/System/Applications/Music.app/Contents/MacOS/Music</string>
			<key>Section</key>
			<string>HWDRMID</string>
			<key>Type</key>
			<string>Modern</string>
		</dict>
	</array>
</dict>
</plist>
